{{!Begin of Social Icon List}}
<ul class="social">
	{{!Begin Social item}}
	<li class="Linkedin">
		<a href="http://uk.linkedin.com/in/alexanderbastien/" target="_blank" title="Linkedin"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-linkedin"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="twitter">
		<a href="http://twitter.com/i_amalexander" target="_blank" title="Twitter"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-twitter"></i>
		</a>
	</li>
	{{!End Social item}}

	{{!Begin Social item}}
	<li class="instagram">
		<a href="http://instagram.com/iamalexander" target="_blank" title="Instagram"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-instagram"></i>
		</a>
	</li>
	{{!End Social item}}
	
	{{!Begin Social item}}
	<li class="github">
		<a href="http://github.com/iamalexander" target="_blank" title="Github"> {{!Change href="#" to href="YOUR_SOCIAL_URL"}}
			<i class="fa fa-github"></i>
		</a>
	</li>
	{{!End Social item}}
	{{!Paste your new social icon here}}
</ul>
{{!End of Social Icon List}}